<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <h5 class="card-title mb-4">Login</h5>
                    <form action="/auth/login" method="post">
                        <div class="mb-3">
                            <label for="form_username" class="form-label">E-Mail Adresse</label>
                            <input type="email" class="form-control" id="form_username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="form_password" class="form-label">Passwort</label>
                            <input type="password" class="form-control" id="form_password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark">Login</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">Noch keinen Account? </p>
                    <form class="d-grid gap-2" role="search" action="/auth/register/form">
                        <button class="btn btn-outline-dark" type="submit">Registrieren</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast" data-delay="10000" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Nachricht</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <span id="toast-message"></span>
    </div>
</div>
